@use '../../base/mixins.scss' as *;
@use '../../base/variables.scss' as *;

.banner-our-coffee {
    background: url('../../images/our-coffee-bg.jpg');
    background-size: cover;
    width: 100%;
    min-height: 260px;
    display: flex;
    align-items: center;

    .h1-title {
        @include h1-title;
        text-align: center;
    }
}