@use '../../base/mixins.scss' as *;
@use '../../base/variables.scss' as *;

.cards-wrapper {
    margin: 0 auto;

    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 60px 70px;
    max-width: 800px;
    flex-wrap: wrap;

    .product-card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 22px;
        max-width: 220px;
        width: 100%;
        border-radius: 8px;
        background-color: rgba(255, 255, 255, .65);
        transition: transform .2s ease, box-shadow .2s ease;
        cursor: pointer;

        &:hover {
            transform: translateY(-4px);
            box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
        }

        img {
            height: 130px;
            object-fit: contain;
            padding-bottom: 15px;
        }

        &__title {
            @include h3-title;
            margin: 0;
            margin-top: auto;
            letter-spacing: 0;
        }

        &__country {
            font-size: 14px;
            font-weight: 200;
            text-align: right;
            align-self: stretch;
            margin: 0;
            margin-top: 14px;
        }

        &__price {
            align-self: stretch;
            text-align: right;
            margin: 0;
            margin-top: 14px;
        }

        &_catalog {
            box-shadow: $card-shadow;
        }
    }
}